* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background: #F4F5F7;
}

*::-webkit-scrollbar{
    width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track{
    background: #F4F5F7;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F4F5F7;  /* creates padding around scroll thumb */
}
